body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #1a1a1a, #000000);
    min-height: 100vh;
    color: white;
    padding-top: 100px;
}


.producto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap:60px;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    align-items: start;
    padding: 60px;
}

.imagen-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.info,
.descripcion,
.para-quien,
.especificaciones {
    max-width: 420px;
}

.imagen-container img:hover {
    transform: scale(1.05);
}

.info {
    max-width: 400px;
}

.precio {
    font-size: 28px;
    color: #32ff00;
    font-weight: bold;
}

button {
    padding: 15px 25px;
    background-color: #32ff00;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}

.beneficios {
    text-align: center;
    padding: 40px;
    background-color: #1a1a1a;
}

.boton-whatsapp {
     padding: 15px 25px;
    background-color: #25D366;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    color: white;
}

.boton-whatsapp:hover {
     background-color: #1ebe5d;
    transform: scale(1.05);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1000;
     border-bottom: 2px solid #f31313;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.zoom-container {
    position: relative;
    display: inline-block;
}

.zoom-container img {
    width: 400px;
    display: block;
}

#lupa {
     position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #32ff00;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    
}

.producto h2,
.producto h3,
.producto p,
.producto li {
    word-break: normal;
    white-space: normal;
}

@media (max-width: 768px) {
    .producto {
        grid-template-columns: 1fr;
        padding: 30px;
        gap: 40px;
        text-align: center;
    }

    .info,
    .descripcion,
    .para-quien,
    .especificaciones {
        max-width: 100%;
    }
}