* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #1a1a1a, #000000);
    color: white;
    padding-top: 90px;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    text-align: center;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    border-bottom: 2px solid #f31313;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 26px;
}

header.scrolled {
    background: rgba(0,0,0,0.9);
}

/* PRODUCTO */
.producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
    padding: 60px 40px;
    align-items: center;
}

.imagen-container {
    text-align: center;
}

.zoom-container {
    position: relative;
    display: inline-block;
}

.zoom-container img {
    width: 100%;
    max-width: 380px;
    border-radius: 10px;
    display: block;
}

#lupa {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #32ff00;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

.info {
    max-width: 450px;
}

.precio {
    font-size: 28px;
    color: #32ff00;
    font-weight: bold;
}

.boton-whatsapp {
    padding: 15px 25px;
    background-color: #25D366;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    color: white;
}

.boton-whatsapp:hover {
    background-color: #1ebe5d;
}

/* SECCIONES */
section {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* MOBILE */
@media (max-width: 768px) {

    body {
        padding-top: 80px;
    }

    header h1 {
        font-size: 20px;
    }

    .producto {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 40px 20px;
        text-align: center;
    }

    .zoom-container img {
        max-width: 260px;
    }

    #lupa {
        display: none; /* desactiva zoom en celular */
    }

    section {
        margin: 60px auto;
    }

    h2 {
        font-size: 20px;
    }

}

.beneficios-lista {
    list-style: none;
    padding: 0;
    max-width: 500px;
    margin: 20px auto;
    text-align: left;
}

.beneficios-lista li {
    margin: 12px 0;
    padding-left: 28px;
    position: relative;
}

.beneficios-lista li::before {
    content: "➜";
    position: absolute;
    left: 0;
    color: #ff0000;
    font-weight: bold;
}

.footer {
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 40px;
}

.footer p {
    margin: 0;
}